.flat-turquoise
{color:#fff;background-color:#1abc9c}
.flat-emerald
{color:#fff;background-color:#2ecc71}
.flat-peter-river
{color:#fff;background-color:#3498db}
.flat-amethyst
{color:#fff;background-color:#9b59b6}
.flat-wet-asphalt
{color:#fff;background-color:#34495e}
.flat-green-sea
{color:#fff;background-color:#16a085}
.flat-nephritis
{color:#fff;background-color:#27ae60}
.flat-belize-hole
{color:#fff;background-color:#2980b9}
.flat-wisteria
{color:#fff;background-color:#8e44ad}
.flat-midnight-blue
{color:#fff;background-color:#2c3e50}
.flat-sun-flower
{color:#fff;background-color:#f1c40f}
.flat-carrot
{color:#fff;background-color:#e67e22}
.flat-alizarin
{color:#fff;background-color:#e74c3c}
.flat-clouds
{color:#000;background-color:#ecf0f1}
.flat-concrete
{color:#fff;background-color:#95a5a6}
.flat-orange
{color:#fff;background-color:#f39c12}
.flat-pumpkin
{color:#fff;background-color:#d35400}
.flat-pomegranate
{color:#fff;background-color:#c0392b}
.flat-silver
{color:#000;background-color:#bdc3c7}
.flat-asbestos
{color:#fff;background-color:#7f8c8d}